In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


filename ='sample.csv'
df = pd.read_csv( filename, header=None )

col_name = ['Left','Right']
df.columns = col_name

df.head()

     Left   Right
0  155.10  155.10
1  155.11  155.11
2  155.11  155.11
3  155.12  155.12
4  155.12  155.12